div.card,
.img {
  border: 0;
  border-radius: 7px;
}

div.card {
  border: 0;
  border-radius: 7px;
  box-shadow: 0px 0px 22px #e6e3e362, -20px -20px 62px #ffffffd2;
}

.img,
img {
  width: 100%;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

div.card:hover {
  box-shadow: 0px 0px 16px #cac8c862, -20px -20px 62px #ffffffd2;
  cursor: pointer;
}
div.img {
  position: relative;
  border-bottom: 0.5px solid var(--e-global-color-749a04a);
}
.img span.label-text {
  position: absolute;
  bottom: -10px;
  font-size: 14px;
  left: 4%;
  display: inline-block;
  background: var(--e-global-color-secondary);
  padding: 4px 20px;
  font-weight: bold;
  color: white;
  border: 0;
  border-radius: 4px;
}

#progress {
  position: relative;
  background-color: var(--e-global-secondary);
  padding: 8px 16px;
  bottom: 8px;
  right: 10px;
}

.progress {
  position: relative;
  background-color: #009368;
  padding: 10px;
}

.donation-num p {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 0.5;
  padding: 0;
  margin-bottom: 2px;
}

button.btn {
  font-weight: bold;
  padding: 8px 14px;
  outline: none;
  color: white;
}

button.btn:hover {
  border: 1px solid #eca30c;
  background-color: white;
  color: #eca30c;
}

@media (max-width: 767px) {
  .container {
    margin: auto;
  }

  .card {
    margin: auto;
  }
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.progress-container .goal_price {
  align-self: end;
  color: var(--e-global-color-primary);
  font-size: 0.9rem;
}

.progress-container .progress-wraper {
  width: 100%;
  height: 20px;
  background-color: var(--e-global-color-749a04a);
  border-radius: 15px;
  overflow: hidden;
}

.progress-container .progress-wraper .progress-bar {
  height: 100%;
  width: 80%;
  background-color: var(--e-global-color-secondary);
  transition: width 0.5s ease;
}

.progress-container .progress-wraper .progress-bar .progress-value {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: var(--e-global-color-c90c6a5);
  font-size: 0.8rem;
  padding: 5px 5px;
  line-height: 15px;
}

.progress-container .progress-wraper .progress__value {
  color: var(--e-global-color-text);
  font-size: 0.8rem;
}
.progress-container span.value {
  text-align: left;
  padding-top: 1px;
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--e-global-color-primary);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

p.card-text {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--e-global-color-text);
  margin-bottom: 1rem;
}

.donation-num p {
  font-size: 0.9em;
  color: var(--e-global-color-primary);
}

.donation-num span {
  color: var(--e-global-color-accent);
}
