<!-- Page 1 -->
<app-navbar></app-navbar>

<header>
  <div class="container position-relative header-text">
    <div class="row ">
      <div class="container ms-lg-5 heading-context ">
        <div class="row text-light fw-bold">
          <h1>About</h1>
        </div>
        <div class="row line"></div>
        <ol aria-label="breadcrumb" class="d-flex flex-row breadcrumb">
          <li class="text-warning p-2 breadcrumb-item">
            <a routerLink="/">Home</a>
          </li>
          <li class="text-warning  p-2">>></li>
          <li class="text-light p-2 fw-semibold fs-6 breadcrumb-item active">
            About
          </li>
        </ol>
      </div>
    </div>
  </div>
</header>

<section class="page-section main-about mb-5 mt-5 " id="team">
  <div class="container mb-3 mb-5 ">
    <div class="row g-0 m-auto ms-xl-5 ">
      <div class="col-12 m-lg-auto col-lg-10 col-xl-4 img">
        <img src="../../../assets/images/p1 about 1.jpeg" class="img-fluid rounded-5" alt="...">
      </div>
      <div class="col-12 col-lg-10 m-lg-auto card col-xl-7">
        <div class="card-body">
          <h2 class="card-title  text-success fs-4">Welcome to Harity</h2>
          <h3 class="card-text fw-bold fs-1">Helping Today Helping Tommorow</h3>
          <p class="card-text fs-5 mt-3 mb-3 context">Malesuada nunc vel risus commodo viverra maecenas accumsan
            lacus. Netus et malesuada fames ac turpis egestas integer eget aliquet. Semper feugiat nibh sed pulvinar
            proin gravida hendrerit. Dictum non consectetur erat nam at lectus.</p>

          <!-- Error images in responsive -->
          <div class="container main-icons">
            <div class="col d-flex ">
              <div class="content container d-flex ">
                <img src="../../assets/images/payment-1.png" class="img rounded" alt="...">
                <p class="card-text ">You Can Help a Lot by <br> Donating for Charity
                </p>
              </div>
              <div class="content container d-flex ">
                <img src="../../assets/images/peace-1.png" class="img rounded" alt="...">
                <p class="card-text">Our Only Mission is to <br> Fulfill Others Dreams
                </p>
              </div>
            </div>
          </div>
          <button class="btn">
            <a routerLink="/product">Donate Now

              <mat-icon>
                favorite
              </mat-icon>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Page 2 -->
<section class="page-section ourFeatures " id="services">
  <div class="container2 container mt-5 mb-5" id="serv1">
    <div class="row mt-5" style="width:100%;">
      <div class="text-center mt-3">
        <h2 class="" aria-current="page">
          Help is Our Goal</h2>
        <h3 class="">What Make Us Different</h3>

      </div>

      <div class="container2 px-4 px-lg-5 mb-5">
        <div class="row gx-4 gx-lg-5 ">

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon mt-5" style="height:230px">
              <img src="../../assets/images/educate_1.png" style="width:90px; height:90px;"
                class="card-img-top mt-3 mb-3" alt="...">
              <h4 class="h4 mb-2">We Educate</h4>
              <p class="text-muted mb-0">you will learn how to help people</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon mt-5" style="height:230px">
              <img src="../../assets/images/solidarity_2.png" style="width:90px; height:90px;"
                class="card-img-top mt-3 mb-3" alt="...">
              <h4 class="h4 mb-2">We Help</h4>
              <p class="text-muted mb-0">we help people whose face hunger</p>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon mt-5" style="height:230px">
              <img src="../../assets/images/home_3.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
                alt="...">
              <h4 class="h4 mb-2">We Build</h4>
              <p class="text-muted mb-0">new world were poeple can live good life</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon mt-5" style="height:230px">
              <img src="../../assets/images/charity_4.png" style="width:90px; height:90px;"
                class="card-img-top mt-3 mb-3" alt="...">
              <h4 class="h4 mb-2">We Donate</h4>
              <p class="text-muted mb-0">Donating food or money to help people</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="statistics">

  <div class="container row m-auto">

    <div class="row m-auto">

      <div class="statistics_item m-auto col-12 col-md-6 col-lg-3">

        <h2><span class="statistics_num">20</span>M</h2>
        <p>Number of Supporters</p>
      </div>
      <div class=" statistics_item m-auto col-12 col-md-6 col-lg-3">

        <h2><span class="statistics_num">15</span>K+</h2>
        <p>Volunteers Worldwide</p>
      </div>
      <div class=" statistics_item m-auto col-12 col-md-6 col-lg-3">

        <h2><span class="statistics_num">98</span>%</h2>
        <p>Completed Projects</p>
      </div>

      <div class="statistics_clickable m-auto col-12 col-md-6 col-lg-3">

        <h2>Our Goal is to Help Poor People</h2>
        <p><a href="#">Become a volunteer &#8594;
          </a></p>

      </div>
    </div>

  </div>

</section>


<!-- Page 3 -->
<section class="page-section team  mb-5 mt-5 " id="team">
  <div class="container mb-3 mb-5 ">
    <div class="row">
      <div class=" card col-11 col-xl-7">
        <div class="card-body">
          <h2 class="card-title text-success fs-4">Our Team</h2>
          <h3 class="card-text fw-bold fs-1">Give a Hand to Make the <br> Better World</h3>
          <p class="card-text">Make your donation today to change the lives of people
            globally. Even the smallest contributions matter!
            Our mission is to advance change by ensuring equitable access to nutritious food for all in partnership
            with food banks, policymakers, supporters, and the communities we serve</p>


          <div class=" ">
            <div class="col d-flex ">
              <div class="container_quote text mt-2 d-flex rounded-3" style="background-color:#F5F5F5 ; width:640px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class=" bi bi-quote "
                  viewBox="0 0 16 16">
                  <path
                    d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                </svg>
                <p class="card-text fs-5 mt-3 mb-3 ms-2 ">emember that the happiest people are not those getting more,
                  but those giving more.</p>

              </div>
            </div>
          </div>

          <button class="btn">
            <a routerLink="/about">View All Team

              <mat-icon>
                favorite
              </mat-icon>
            </a>
          </button>
        </div>
      </div>
      <div class="col-11 col-lg-7 m-auto col-xl-4 mt-5 img">
        <img src="../../assets/images/page3.jpg" class="img-fluid rounded-pill" alt="...">
        <ul class="list-none images">
          <li>
            <img src="https://harity.templatekit.co/wp-content/uploads/sites/49/2022/06/team_circle.png" alt="">
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>

<!-- Page 4 -->
<section class="page-section services" id="services">
  <div class="container2 container mt-5 mb-5" id="serv1">
    <div class="row mt-5" style="width:100%;">
      <div class="heading text-center mt-5">
        <h2 class="" aria-current="page">
          Facts About Us</h2>
        <h3 class="">Little Facts About Us</h3>
      </div>

      <div class="container2 content px-4 px-lg-5 mb-5">
        <div class="row gx-4 gx-lg-5 ">

          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <h3 class="h4 mb-2">Donation Collection</h3>
              <p class="text-muted mb-0">we make different collection of food </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <h3 class="h4 mb-2">Annual Program</h3>
              <p class="text-muted mb-0">we travel to new places to help people</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <h3 class="h4 mb-2">Volunteers</h3>
              <p class="text-muted mb-0">every one can participate with us</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <h3 class="h4 mb-2">Partners</h3>
              <p class="text-muted mb-0">our team we all build this new world</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="aboutus volunteering">

  <div class="container">
    <div class="overlay">
    </div>
    <div class="content row m-auto">
      <div class="aboutus__images m-auto col-11 col-xl-6">
        <div class="images">
          <div class="image_0">
            <img
              src="https://harity.templatekit.co/wp-content/uploads/sites/49/elementor/thumbs/packing-boxes-for-people-in-need-pt5sicczp5g9whcakvc1cguynv6kq9aofjgc6h9gkk.jpg"
              alt="aboutus">

          </div>
          <div class="image_1">
            <img
              src="https://harity.templatekit.co/wp-content/uploads/sites/49/elementor/thumbs/diverse-group-of-volunteers-cleaning-up-forest-from-waste-community-service-concept-pt5sdze0sopn4abbnuezyqh85h4dyjylrvgesv1sqo.jpg"
              alt="aboutus">
          </div>
          <div class="image_2">
            <img
              src="https://harity.templatekit.co/wp-content/uploads/sites/49/elementor/thumbs/group-of-volunteer-planting-psq6r4m9dll7unc06adv13wqls81zojj1p9jbu24t4.jpg"
              alt="aboutus">
          </div>
        </div>
      </div>

      <div class="aboutus__context  m-auto  col-11 col-xl-6 mt-md-0 ">

        <h2>
          Volunteering
        </h2>
        <h3>
          Become the One Who is <br> Considered a Hero </h3>

        <p>When you support Feeding poeple, you are helping our
            nationwide network of food banks deliver programs at the front line of hunger. Programs like school-based
            food pantries, emergency disaster relief.</p>
        <ul>

          <li>
            <div class="progress-container">
              <span class="goal_price">
                <span>
                  Completed Program

                </span>
                <span class="price">65%</span>
              </span>
              <div class="progress-wraper">
                <div class="progress-bar">
                  <div class="progress-value">
                    <span class="value"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="progress-container second">
              <span class="goal_price">
                <span>
                  Program for this Month
                </span>
                <span class="price">90%</span>
              </span>
              <div class="progress-wraper">
                <div class="progress-bar">
                  <div class="progress-value">
                    <span class="value"></span>
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
        <button class="btn">
          <a routerLink="/about">Become A voulanteer

            <mat-icon>
              favorite
            </mat-icon>
          </a>
        </button>
      </div>

    </div>

  </div>

</section>


<!--Sponsors section-->
<section class="sponsors">
  <div class="container-sm">
    <div class="row d-flex justify-content-center wow animate__fadeInUp" data-wow-duration="1.5s">
      <div class="col-md-10">
        <div id="Oursponsor" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner row justify-content-center">
            <div class="carousel-item active " data-bs-interval="2000">
              <img src="../../../assets/images/2_logo.png" alt="sponsor1">
            </div>
            <div class="carousel-item " data-bs-interval="2000">
              <img src="../../../assets/images/1_logo.png" alt="sponsor2">
            </div>
            <div class="carousel-item " data-bs-interval="2000">
              <img src="../../../assets/images/3_logo.png" alt="sponsor3">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/images/4_logo.png" alt="sponsor4">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/images/5_logo.png" alt="sponsor5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- page 7 -->
<section class="ourevents page-section  mb-5 mt-5 " id="team">
  <div class="container">
    <div class="card mb-3 mb-5 ">
      <div class="row g-0">
        <div class="col-12 col-lg-8">
          <div class="card-body">
            <div class="details">
              <h5 class="card-title  text-success fs-4">Testimonials</h5>
              <p class="card-text fw-bold fs-1">What People Say About
                Our Organization</p>
            </div>


            <div id="events" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#events" data-bs-slide-to="0" class="active" aria-current="true"
                  aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#events" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#events" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                  <p class="card-text w-75"><small class="text-muted">Neque ornare aenean euismod elementum nisi quis
                      eleifend.
                      Interdum velit euismod in pellentesque. Tempor orci eu lobortis elementum nibh tellus. Enim diam
                      vulputate
                      ut pharetra sit amet aliquam.
                    </small></p>


                  <div class="person">
                    <div class="image">
                      <img alt="user"
                        src="https://harity.templatekit.co/wp-content/uploads/sites/49/2020/08/waist-up-portrait-of-delighted-freckled-redhead-wo-2021-08-31-08-36-44-utc-2-150x150.jpg" />
                    </div>
                    <div class="user-detail">
                      <p class="name">John Doe</p>
                      <p class="designation">CEO, Company</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                  <p class="card-text w-75"><small class="text-muted">Neque ornare aenean euismod elementum nisi quis
                      eleifend.
                      Interdum velit euismod in pellentesque. Tempor orci eu lobortis elementum nibh tellus. Enim diam
                      vulputate
                      ut pharetra sit amet aliquam.
                    </small></p>


                  <div class="person">
                    <div class="image">
                      <img alt="user"
                        src="https://harity.templatekit.co/wp-content/uploads/sites/49/2020/08/waist-up-portrait-of-delighted-freckled-redhead-wo-2021-08-31-08-36-44-utc-2-150x150.jpg" />
                    </div>
                    <div class="user-detail">
                      <p class="name">John Doe</p>
                      <p class="designation">CEO, Company</p>
                    </div>
                  </div>
                </div>

                <div class="carousel-item " data-bs-interval="3000">
                  <p class="card-text w-75"><small class="text-muted">Neque ornare aenean euismod elementum nisi quis
                      eleifend.
                      Interdum velit euismod in pellentesque. Tempor orci eu lobortis elementum nibh tellus. Enim diam
                      vulputate
                      ut pharetra sit amet aliquam.
                    </small></p>


                  <div class="person">
                    <div class="image">
                      <img alt="user"
                        src="https://harity.templatekit.co/wp-content/uploads/sites/49/2020/08/waist-up-portrait-of-delighted-freckled-redhead-wo-2021-08-31-08-36-44-utc-2-150x150.jpg" />
                    </div>
                    <div class="user-detail">
                      <p class="name">John Doe</p>
                      <p class="designation">CEO, Company</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-10 col-md-6 m-auto col-lg-4 mt-5 right_iamge">
          <img src="../../../assets/images/p 6 abaout 6.jpeg" class="img-fluid rounded-5 me-2 " alt="...">
        </div>

        <img src="https://harity.templatekit.co/wp-content/uploads/sites/49/2022/06/heart.png"
          class=" heart attachment-thumbnail size-thumbnail wp-image-2617" alt="" loading="lazy" width="130"
          height="150">
      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>

<div class="copy-right">

  <div class="container">

    <div class="">
      Privacy Policy |
      Terms Of Use
    </div>
    <div class="">
      © 2023 Harity. All Rights Reserved.
    </div>
  </div>


  <!-- Footer -->
  <!-- <footer class="text-center text-lg-start bg-white text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer> -->

  <!-- page 6
  <section class="page-section " id="services">
    <div class="container2 mt-5 mb-5" id="serv1" style="background-color:#F5F5F5;">
      <div class="row mt-5" style="width:100%;">
        <div class="row gx-4 gx-lg-5 ">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon2 mt-5">
              <img src="../../assets/images/1_logo.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
                alt="...">
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon2 mt-5">
              <img src="../../assets/images/2_logo.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
                alt="...">
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon2 mt-5 mb-5 ">
              <img src="../../assets/images/3_logo.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
                alt="...">
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon2 mt-5 mb-5">
              <img src="../../assets/images/4_logo.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
                alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->