<!-- Page 1 -->
<app-navbar></app-navbar>

<header>
  <div class="container position-relative header-text">
    <div class="row ">
      <div class="container ms-lg-5 ">
        <div class="row text-light fw-bold">
          <h1>About</h1>
        </div>
        <div class="row line"></div>
        <div class="d-flex flex-row">
          <p class="text-warning p-2">Home</p>
          <p class="text-warning  p-2">>></p>
          <p class="text-light p-2 fw-semibold fs-6">About</p>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="page-section  mb-5 mt-5 " id="team">
  <div class="card mb-3 mb-5 ">
    <div class="row g-0 ms-5">
      <div class="col-md-4">
        <img src="../../../assets/images/p1 about 1.jpeg" class="img-fluid rounded-5" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title  text-success fs-4">Welcome to Harity</h5>
          <p class="card-text fw-bold fs-1">Helping Today <br> Helping Tommorow</p>
          <hr class="border border-warning border-2 opacity-50 w-25">
          <p class="card-text w-75"><small class="text-muted">We partner with food banks, food pantries, and local food
            programs to bring food to people facing hunger. We advocate for policies that create long-term solutions
            to hunger.</small></p>

          <!-- Error images in responsive -->
          <div class="container ">
            <div class="col d-flex ">
              <div class="container d-flex ">
                <img src="../../assets/images/payment-1.png" class="img rounded" alt="...">
                <p class="card-text fw-bold fs-5 ms-3">You Can Help a Lot by <br> Donating for Charity
                </p>
              </div>
              <div class="container d-flex ">
                <img src="../../assets/images/peace-1.png" class="img rounded" alt="...">
                <p class="card-text fw-bold fs-5 ms-3">Our Only Mission is to <br> Fulfill Others Dreams
                </p>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-warning mt-4 ms-4 btn-lg fw-bold">Donate Now </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Page 2 -->
<section class="page-section " id="services">
  <div class="container2 mt-5 mb-5" id="serv1" style="background-color:#F5F5F5;">
    <div class="row mt-5" style="width:100%;">
      <div class="text-center mt-5">
        <p class="p mt-5 fs-3text fw-bold text-success fs-4" aria-current="page">
          Help is Our Goal</p>
        <p class="p fs-1 mb-1 text text-black fw-bolder">What Make Us Different</p>

        <p class="p fs-1 text text-black fw-bolder">________________</p>
      </div>

      <div class="container2 px-4 px-lg-5 mb-5">
        <div class="row gx-4 gx-lg-5 ">

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon mt-5" style="height:230px">
              <img src="../../assets/images/educate_1.png" style="width:90px; height:90px;"
                class="card-img-top mt-3 mb-3" alt="...">
              <h3 class="h4 mb-2">We Educate</h3>
              <p class="text-muted mb-0">you will learn how to help people</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon mt-5" style="height:230px">
              <img src="../../assets/images/solidarity_2.png" style="width:90px; height:90px;"
                class="card-img-top mt-3 mb-3" alt="...">
              <h3 class="h4 mb-2">We Help</h3>
              <p class="text-muted mb-0">we help people whose face hunger</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon mt-5" style="height:230px">
              <img src="../../assets/images/home_3.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
                alt="...">
              <h3 class="h4 mb-2">We Build</h3>
              <p class="text-muted mb-0">new world were poeple can live good life</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="icon mt-5" style="height:230px">
              <img src="../../assets/images/charity_4.png" style="width:90px; height:90px;"
                class="card-img-top mt-3 mb-3" alt="...">
              <h3 class="h4 mb-2">We Donate</h3>
              <p class="text-muted mb-0">Donating food or money to help people</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Page 3 -->
<section class="page-section  mb-5 mt-5 " id="team">
  <div class="card mb-3 mb-5 ">
    <div class="row g-0 ms-5">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title  text-success fs-4">Our Team</h5>
          <p class="card-text fw-bold fs-1">Give a Hand to Make the <br>World Better </p>
          <hr class="border border-warning border-2 opacity-50 w-25">
          <p class="card-text w-75"><small class="text-muted">Make your donation today to change the lives of people
            globally. Even the smallest contributions matter!
            Our mission is to advance change by ensuring equitable access to nutritious food for all in partnership
            with food banks, policymakers, supporters, and the communities we serve
          </small></p>

          <!-- Error images in responsive -->
          <div class="container ">
            <div class="col d-flex ">
              <div class="text mt-5 d-flex rounded-3" style="background-color:#F5F5F5 ; width:640px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-quote "
                  viewBox="0 0 16 16">
                  <path
                    d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                </svg>
                <p class="card-text fs-5 mt-3 mb-3 ms-2">Remember that the happiest people are not those getting more,
                  but those giving more</p>

              </div>
            </div>
          </div>

          <button type="button" class="btn btn-warning mt-4 ms-4 btn-lg fw-semibold fs-5">View All Team </button>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <img src="../../assets/images/page3.jpg" class="img-fluid rounded-pill" alt="...">
      </div>
    </div>
  </div>
</section>

<!-- Page 4 -->
<section class="page-section " id="services">
  <div class="container2 mt-5 mb-5" id="serv1">
    <div class="row mt-5" style="width:100%;">
      <div class="text-center mt-5">
        <p class="p mt-5 fs-3text fw-bold text-success fs-4" aria-current="page">
          Facts About Us</p>
        <p class="p fs-1 mb-1 text text-black fw-bolder">Little Facts About Us</p>

        <p class="p fs-1 text text-black fw-bolder">________________</p>
      </div>

      <div class="container2 px-4 px-lg-5 mb-5">
        <div class="row gx-4 gx-lg-5 ">

          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <h3 class="h4 mb-2">Donation Collection</h3>
              <p class="text-muted mb-0">we make different collection of food </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <h3 class="h4 mb-2">Annual Program</h3>
              <p class="text-muted mb-0">we travel to new places to help people</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <h3 class="h4 mb-2">Volunteers</h3>
              <p class="text-muted mb-0">every one can participate with us</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <h3 class="h4 mb-2">Partners</h3>
              <p class="text-muted mb-0">our team we all build this new world</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Page 5 -->
<section class="page-section  mb-5 mt-5 " id="team">
  <div class="card mb-3 mb-5 ">
    <div class="row g-0 ms-5">
      <div class="col-md-4 mt-5">
        <img src="../../../assets/images/p 5 abaout 5.jpeg" class="img-fluid rounded " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body mt-5">
          <h5 class="card-title  text-success fs-4">Volunteering</h5>
          <p class="card-text fw-bold fs-1">Become the One Who is <br> Considered a Hero</p>
          <hr class="border border-warning border-2 opacity-50 w-25">
          <p class="card-text w-75"><small class="text-muted">When you support Feeding poeple, you are helping our
            nationwide network of food banks deliver programs at the front line of hunger. Programs like school-based
            food pantries, emergency disaster relief.</small></p>


          <div class="container ">
            <div class="col d-flex ">
              <div class="container d-flex ">
                <!-- <p class="card-text fw-bold fs-5 ms-3">Completed Program</p>
                                <p class="card-text fw-bold fs-5 ms-3">65%</p>
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 75%"></div> -->
              </div>

            </div>
          </div>

          <button type="button" class="btn btn-warning mt-4 ms-4 btn-lg fw-bold">Become Volunteer </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- page 6
<section class="page-section " id="services">
  <div class="container2 mt-5 mb-5" id="serv1" style="background-color:#F5F5F5;">
    <div class="row mt-5" style="width:100%;">
      <div class="row gx-4 gx-lg-5 ">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="icon2 mt-5">
            <img src="../../assets/images/1_logo.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
              alt="...">
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center">
          <div class="icon2 mt-5">
            <img src="../../assets/images/2_logo.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
              alt="...">
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center">
          <div class="icon2 mt-5 mb-5 ">
            <img src="../../assets/images/3_logo.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
              alt="...">
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center">
          <div class="icon2 mt-5 mb-5">
            <img src="../../assets/images/4_logo.png" style="width:90px; height:90px;" class="card-img-top mt-3 mb-3"
              alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--Sponsors section-->
<section class="sponsors">
  <div class="container-sm">
    <div class="row d-flex justify-content-center wow animate__fadeInUp" data-wow-duration="1.5s">
      <div class="col-md-10">
        <div id="Oursponsor" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner row justify-content-center">
            <div class="carousel-item active " data-bs-interval="2000">
              <img src="../../../assets/images/2_logo.png" alt="sponsor1">
            </div>
            <div class="carousel-item " data-bs-interval="2000">
              <img src="../../../assets/images/1_logo.png" alt="sponsor2">
            </div>
            <div class="carousel-item " data-bs-interval="2000">
              <img src="../../../assets/images/3_logo.png" alt="sponsor3">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/images/4_logo.png" alt="sponsor4">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/images/5_logo.png" alt="sponsor5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- page 7 -->
<section class="ourevents page-section  mb-5 mt-5 " id="team">
  <div class="container">
    <div class="card mb-3 mb-5 ">
      <div class="row g-0 ms-5">
        <div class="col-md-8">
          <div class="card-body">
            <div class="details">
              <h5 class="card-title  text-success fs-4">Testimonials</h5>
              <p class="card-text fw-bold fs-1">What People Say About
                Our Organization</p>
            </div>


            <div id="events" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#events" data-bs-slide-to="0" class="active" aria-current="true"
                  aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#events" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#events" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                  <p class="card-text w-75"><small class="text-muted">Neque ornare aenean euismod elementum nisi quis
                      eleifend.
                      Interdum velit euismod in pellentesque. Tempor orci eu lobortis elementum nibh tellus. Enim diam
                      vulputate
                      ut pharetra sit amet aliquam.
                    </small></p>


                  <div class="person">
                    <div class="image">
                      <img alt="user"
                        src="https://harity.templatekit.co/wp-content/uploads/sites/49/2020/08/waist-up-portrait-of-delighted-freckled-redhead-wo-2021-08-31-08-36-44-utc-2-150x150.jpg" />
                    </div>
                    <div class="user-detail">
                      <p class="name">John Doe</p>
                      <p class="designation">CEO, Company</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                  <p class="card-text w-75"><small class="text-muted">Neque ornare aenean euismod elementum nisi quis
                      eleifend.
                      Interdum velit euismod in pellentesque. Tempor orci eu lobortis elementum nibh tellus. Enim diam
                      vulputate
                      ut pharetra sit amet aliquam.
                    </small></p>


                  <div class="person">
                    <div class="image">
                      <img alt="user"
                        src="https://harity.templatekit.co/wp-content/uploads/sites/49/2020/08/waist-up-portrait-of-delighted-freckled-redhead-wo-2021-08-31-08-36-44-utc-2-150x150.jpg" />
                    </div>
                    <div class="user-detail">
                      <p class="name">John Doe</p>
                      <p class="designation">CEO, Company</p>
                    </div>
                  </div>
                </div>

                <div class="carousel-item " data-bs-interval="3000">
                  <p class="card-text w-75"><small class="text-muted">Neque ornare aenean euismod elementum nisi quis
                      eleifend.
                      Interdum velit euismod in pellentesque. Tempor orci eu lobortis elementum nibh tellus. Enim diam
                      vulputate
                      ut pharetra sit amet aliquam.
                    </small></p>


                  <div class="person">
                    <div class="image">
                      <img alt="user"
                        src="https://harity.templatekit.co/wp-content/uploads/sites/49/2020/08/waist-up-portrait-of-delighted-freckled-redhead-wo-2021-08-31-08-36-44-utc-2-150x150.jpg" />
                    </div>
                    <div class="user-detail">
                      <p class="name">John Doe</p>
                      <p class="designation">CEO, Company</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 right_iamge">
          <img src="../../../assets/images/p 6 abaout 6.jpeg" class="img-fluid rounded-5 me-2 " alt="...">
        </div>

        <img src="https://harity.templatekit.co/wp-content/uploads/sites/49/2022/06/heart.png"
          class=" heart attachment-thumbnail size-thumbnail wp-image-2617" alt="" loading="lazy" width="130"
          height="150">
      </div>
    </div>
  </div>

</section>

<!-- Footer -->
<!-- <footer class="text-center text-lg-start bg-white text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer> -->

<app-footer></app-footer>

<div class="copy-right">

  <div class="container">

    <div class="">
      Privacy Policy |
      Terms Of Use
    </div>
    <div class="">
      © 2023 Harity. All Rights Reserved.
    </div>
  </div>