.black {
  color: rgb(33, 52, 48);
}
.text-success {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
  font-family: "Poppins";
}
.title {
  font-size: 30px;
  line-height: 1.2em;
  font-family: "Poppins";
  font-weight: 600;
  padding-right: 40px;
}
.phone {
  /* position: relative;
  left: 1rem;
  top: 1rem; */
  color: white;
  font-size: 1rem;
}
.circle {
  width: 3.4rem;
  height: 3.4rem;
  background-color: #eca30c !important;
}
.line {
  width: 5rem;
  padding: 0.1rem;
  background-color: #eca30c;
  margin-left: 0.1rem;
}
.form-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.021),
    0 6px 10px 0 rgba(0, 0, 0, 0.071);
  margin-left: 3.2em;
  /* height: 40rem; */
}
.form-container h4 {
  font-size: 25px;
  line-height: 1.3em;
}
.form-container label {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4em;
}
.form-container input {
  font-size: 14px;
  color: #6f7775;
  margin-bottom: 0.8em;
}
.contact-title {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
}
.form-floating p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4em;
}
.text-area {
  height: 10rem;
}

.btn {
  background-color: #eca30c;
  border: none;
}
@media (max-width: 990px) {
  .container {
    margin-top: 3em;
  }
  .form-container {
    margin-left: 0;
  }
  .form-container input {
    margin-bottom: 2em;
  }
  .map {
    margin-top: 4em;
  }
}
@media (max-width: 576px) {
  .text-area {
    height: 2rem;
  }
  .circle {
    width: 3rem;
    height: 3rem;
  }
  .phone {
    font-size: 1rem;
  }
  .map {
    height: 50vh;
  }
}
