<div class="container ">
  <div class="row align-items-center p-lg-5 g-5 my-lg-4">
    <div class="col-lg-6  my-5">
      <div class="container mt-3">
        <p class="text-success fw-bold fs-4">Get in Touch</p>
        <h2 class="text-wrap w-75 fw-bold black">Contact Us if You have Questions or Suggestions</h2>
        <div class="row line my-3"></div>
        <p class="text-secondary my-2">As the world leader in volunteerism we feel a responsibility to unite our broader
          community, and to use this moment to become stronger.</p>
        <h5 class="fs-4 my-4">Contacts Info</h5>
        <div class="row">
          <div class="col-1 me-3">
            <div class="rounded-circle bg-warning circle mb-4 d-flex justify-content-center align-items-center">
              <fa-icon fa-5x [icon]="phone" class="phone"></fa-icon>
            </div>
          </div>
          <div class="col my-2 mx-2">
            <p class="my-0 mx-4 fw-semibold fs-5">Call Us</p>
            <p class="my-0 mx-4 text-secondary fw-normal">+1234684613</p>
          </div>

        </div>
        <div class="row">
          <div class="col-1 me-3">
            <div class="rounded-circle circle bg-warning mb-4 d-flex justify-content-center align-items-center">
              <fa-icon fa-5x [icon]="envelope" class="phone"></fa-icon>
            </div>
          </div>
          <div class="col my-2 mx-2">
            <p class="my-0 mx-4 fw-semibold fs-5">Mail Us</p>
            <p class="my-0 mx-4 text-secondary fw-normal">info@harity.com</p>
          </div>

        </div>
        <div class="row">
          <div class="col-1 me-3">
            <div class="rounded-circle circle bg-warning mb-4 d-flex justify-content-center align-items-center">
              <fa-icon fa-5x [icon]="location" class="phone"></fa-icon>
            </div>
          </div>
          <div class="col my-2 mx-2">
            <p class="my-0 mx-4 fw-semibold fs-5">Visit Us</p>
            <p class="my-0 mx-4 text-secondary fw-normal">3891 Ranchview Dr. Richardson, California 62639
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 p-5 shadow-sm mb-5 rounded form-container my-lg-5">
      <h2>Fill the Form Below</h2>
      <form class="row g-lg-3">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control p-3" id="name" placeholder='Your Name'>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control p-3" id="inputPassword4" placeholder='Your Email'>
        </div>
        <div class="col-md-6">
          <label for="phone" class="form-label">Phone</label>
          <input type="number" class="form-control p-3" id="phone" placeholder='Your Phone'>
        </div>
        <div class="col-md-6">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" class="form-control p-3" id="subject" placeholder='Your Subject'>
        </div>
        <div class="form-floating">
          <p>Message</p>
          <!-- <label for="floatingTextarea" class="form-label"> Message </label> -->
          <textarea class="form-control mb-3 text-area" placeholder="Enter Your Message" id="floatingTextarea"
            rows="5"></textarea>
          <!-- <label for="floatingTextarea">Message</label> -->
        </div>
        <div class="d-grid">
          <button class="btn btn-warning text-white p-3" type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="section">
    <div>
      <iframe class="mb-5 map" style="width:100%; height:70vh" src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>
    <!-- <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 1000px">
      <iframe src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" allowfullscreen></iframe>
    </div> -->
</div>
<!-- <div class="row py-5"></div> -->
