.black{
  color: rgb(33,52,48);
}
.phone{
  /* position: relative;
  left: 1rem;
  top: 1rem; */
  color:white;
  font-size: 1.5rem;
}
.circle{
  width: 4.5rem;
  height:4.5rem;
}
.line{
  width: 5rem;
  padding: 0.1rem;
  background-color:orange;
  margin-left: 0.1rem;
}
.form-container{
  height: 40rem;
}
.text-area{
  height: 10rem;
}


@media (max-width:576px){
  .text-area{
    height: 2rem;
  }
  .circle{
    width: 3rem;
    height:3rem;
  }
  .phone{
    font-size: 1rem;
  }
  .map{
    height: 50vh;
  }
}
