<!-- <p>footer works!</p> -->

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="footer_logo col-lg-4 col-md-6">
          <h2 class="logo">
        <a routerLink="/" class="">
          <img
          src="assets/main_logo.png"
          class="attachment-medium size-medium wp-image-2211"
          alt=""
          loading="lazy"
        />
        <span>
          Hyatk
        </span>
        </a>
          </h2>
       

          <div class="footer_description">
            We dream big and strive toward making the seemingly impossible possible, lifting the sector as we go. with helping people to live a good life by effort food for them
          
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li>
              <a href="#" class="fw-bold">About Us</a>
            </li>
            <li>
              <a href="#" class="fw-bold">Causes</a>
            </li>
            <li>
              <a href="#" class="fw-bold">Recent Events</a>
            </li>
            <li>
              <a href="#" class="fw-bold">Our Team</a>
            </li>
            <li>
              <a href="#" class="fw-bold">Latest News</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-contact">
          <h4>Quick links</h4>
          <div>
            <div class="social-links d-flex">
              <a href="#" class="pjone"
                ><i class="fa-sharp fa-solid fa-phone"></i
              ></a>
              <div class="icon-box-content">
                <h6 class="icon-box-title fw-bold">
                  <span> Call us </span>
                </h6>
                <p class="icon-box-description">+1-206-156 2849</p>
              </div>
            </div>
            <div class="social-links d-flex">
              <a href="#" class="mail"><i class="fa-solid fa-envelope"></i></a>
              <div class="icon-box-content">
                <h6 class="icon-box-title fw-bold">
                  <span> Mail Us </span>
                </h6>
                <p class="icon-box-description">ourteam@harity.com</p>
              </div>
            </div>
            <div class="social-links d-flex">
              <a href="#" class="map"
                ><i class="fa-solid fa-location-dot"></i
              ></a>
              <div class="icon-box-content">
                <h6 class="icon-box-title fw-bold">
                  <span> Visit Us </span>
                </h6>
                <p class="icon-box-description">EPYPT 62639</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h5 class="heading-title size-default">
            Subscribe to Our Newsletter
          </h5>
          <div class="widget-container">
            Subscribe and stay up to date with our news and upcoming events.
          </div>

          <form action="" method="post">
            <input type="email" placeholder="Enter Email" name="email" />
            <input type="submit" value="Send" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Harity</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Harity</a>
      </div>
    </div>
  </div> -->
</footer>
<div class="copy-right">

  <div class="container">

    <div class="">
      Privacy Policy |
      Terms Of Use
    </div>
    <div class="">
      © 2023 Harity. All Rights Reserved.
    </div>
  </div>