@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

header{
  font-family: Poppins;
  position: relative;
  /* background-color: black; */
  background: url("../../../assets/images/viewpoints-the-benefits-of-philanthropy-for-high-net-worth-investors-cover-1040x425.jpg") no-repeat;
  background-size: cover;
  padding-top:13rem;
  padding-bottom: 5rem;
}
header:before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
/* .header-text{
  font-family: ;
} */


.line{
  width: 5rem;
  padding: 0.1rem;
  background-color:orange;
  margin-left: 0.2rem;
}

