<!-- slider -->

<!-- Path: src\app\components\home\home.component.html -->


<header>
  <div class="container row m-auto">

    <div class="header__context col-12 col-lg-6">
      <h1>
        Lend a Helping Hand
      </h1>
      <h2>
        Only by Helping Each Other We Can Make World Better
      </h2>
      <p> <span class="left-seperator"></span>
        Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra.
        Convallis convallis tellus id
        interdum. Egestas
        erat imperdiet sed euismod nisi porta lorem.</p>
    </div>

    <div class="header__payment-card col-12 col-lg-5 offset-lg-1 mt-5 mt-md-0 ">
      <button class="btn btn-label">
        Education
      </button>

      <h2>Help Children Get out of Poverty & have a Future</h2>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint
        occaecat cupidatat non proident, sunt in culpa.</p>

      <div class="progress-container">
        <span class="goal_price">
          Goal $ <span class="price">20,000</span>
        </span>
        <div class="progress-wraper">
          <div class="progress-bar">
            <div class="progress-value">
              <span class="price">12,500</span>
              <span class="value">80%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="payment-way">
        <button class="btn apple-pay payment-way__item ">
          <span class="material-icons">
            credit_card
          </span>
          <span class="payment_text">
            pay </span>
        </button>

        <button class="btn google-pay payment-way__item ">
          <span class="material-icons">
            credit_card
          </span>
          <span class="payment_text">
            pay </span>
        </button>
      </div>

    </div>

  </div>
</header>

<section class="statistics">

  <div class="container row m-auto">

    <div class="statistics_item col-11 col-md-6 col-lg-3">

      <h2><span class="statistics_num">20</span>M</h2>
      <p>Number of Supporters</p>
    </div>
    <div class=" statistics_item  col-11 col-md-6 col-lg-3">

      <h2><span class="statistics_num">15</span>K+</h2>
      <p>Volunteers Worldwide</p>
    </div>
    <div class=" statistics_item col-11 col-md-6 col-lg-3">

      <h2><span class="statistics_num">98</span>%</h2>
      <p>Completed Projects</p>
    </div>

    <div class="statistics_clickable col-11 col-md-6 col-lg-3">

      <h2>Our Goal is to Help Poor People</h2>
      <p><a href="#">Become a volunteer &#8594;
        </a></p>

    </div>
  </div>

</section>


<section class="aboutus">

  <div class="container">
    <div class="overlay">
    </div>
    <div class="content row m-auto">
      <div class="aboutus__images col-12 col-lg-6">
        <div class="images">
          <div class="image_0">
            <img src="assets/images/home/iconsolidarity.png" alt="aboutus">

          </div>
          <div class="image_1">
            <img src="assets/images/home/about_section.jpg" alt="aboutus">
          </div>
          <div class="image_2">
            <img src="assets/images/home/girl_about.jpg" alt="aboutus">
          </div>
        </div>
      </div>

      <div class="aboutus__context col-12 col-lg-6 mt-md-0 ">

        <h2>
          About Us
        </h2>
        <h3>
          We’re Non-Profit Charity & NGO Organization
        </h3>
        <ul>
          <li>
            <span class="material-icons">
              done
            </span>
            Support people in extreme need

          </li>
          <li> <span class="material-icons">
              done
            </span> Largest global crowdfunding community
          </li>
          <li> <span class="material-icons">
              done
            </span> Make the world a better place
          </li>
          <li> <span class="material-icons">
              done
            </span> Share your love for community</li>
        </ul>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <button class="btn">
          <a href="#">about us</a>
        </button>
      </div>

    </div>

  </div>

</section>