* {
  margin: 0;
  padding: 0;
}

.contain-login {
  margin-top: 20px;
  width: 72%;

  display: flex;
  justify-content: space-between;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  border-radius: 20px;
}
.login {
  width: 50%;
  padding: 60px;
}
.login h1 {
  color: #009368;
  margin-bottom: 25px;
}
.photo {
  width: 50%;
}
.photo img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/* .form-control{
  padding: 10px;
} */
form h6 a {
  color: #cb9712;
  font-size: small;
  text-decoration: none;
}
.btn-primary {
  margin-top: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  /* background-color: rgb(67, 39, 18); */
  background-color: #009368;
  color: white;
}
.form-label {
  margin-top: 20px;
}
.paragraph {
  display: inline;
  color: rgb(149, 148, 148);
  font-size: small;
}
.register a {
  color: #cb9712;
  font-weight: bold;
  text-decoration: none;
}
.register {
  display: inline;
  font-size: small;
  margin-left: 8px;
}

#pass_btn {
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  .login {
    width: 100%;
    margin-top: 0;
  }
  .photo {
    display: none;
  }
}

#password button mat-icon {
  color: #0000007b;
}

/* .example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
} */
