@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.productPage {
  /* position: relative;
  top: 30%; */

  margin: 16px 0;
}

div.main {
  position: relative;
  left: 15%;
  padding: 8px;
  width: 80%;
}

.height {
  height: 100vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
}

button.btn {
  background-color: #009368;
  color: white;
  padding: 12px;
}

@media (max-width=768px) {
  .search-bar {
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  #view-btn {
    margin: 2rem;
  }
}

.ngx-pagination li {
  color: var(--e-global-primary);
}

.ngx-pagination li.current {
  color: #fff;
  background-color: var(--e-global-secondary) !important;
}
