<app-navbar></app-navbar>

<app-header [title]="title"></app-header>

<div class="productPage">
  <div class="container my-5">
    <div class="search-bar">
      <div class="row my-2 d-flex justify-content-center align-items-center">
        <div class="col-md-8">

          <div class="input-group mb-3">
            <button class="p-1 bg-success text-white rounded w-100 d-flex">
              <div class="input-group-prepend p-4">
                <label class="input-group-text" for="inputGroupSelect01">Category</label>
              </div>
              <select #categories class="custom-select w-75 p-4" id="inputGroupSelect01"
                (change)="onSelected(categories.value)">
                <option value="null" selected>All Categories</option>
                <option value="6401ffcb4c39040f50277f24">Ramadan Bags</option>
                <option value="6401ffe34c39040f50277f26">Monthly Bags</option>
                <option value="6401fe2c4c39040f50277f22">Meals</option>
              </select>
            </button>
          </div>

        </div>
      </div>
      <div class="row my-2 d-flex justify-content-center align-items-center">
        <input #price (change)="priceChange(price.value)" min="100" max="1000" step="100" type="range" name="price"
          id="price">
      </div>
      <span *ngIf="myPrice !='null'">{{myPrice}} EGP</span>
    </div>
  </div>
  <div class="products-section container">
    <div class="row ">
      <ng-container *ngFor="let card of cards | paginate
      : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        };
  let i = index">
        <div class="col-md" *ngIf="!card.addToCart">
          <app-card [data]="card"></app-card>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>
<app-footer></app-footer>