<app-navbar></app-navbar>

<app-header [title]="title"></app-header>

<div class="productPage">
  <div class="container my-5">
    <div class="search-bar">
      <div class="row my-2 d-flex justify-content-center align-items-center">
        <div class="col-md-8">
        </div>
      </div>
    </div>
  </div>
  <div class="products-section container">
    <div class="row ">
      <ng-container *ngFor="let card of cards | paginate
      : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        };
  let i = index">
        <div class="col-md" *ngIf="!card.addToCart">
          <app-card [data]="card"></app-card>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>
<app-footer></app-footer>