#pro img {
  width: 100%;
  height: 70%;
  margin-bottom: 2em;
}
.orders {
  margin: 0 auto;
  margin-bottom: 2em;
}
.order_title {
  margin-top: 1em;
  width: 100%;
  display: flex;
}
.orders h4 {
  /* justify-content: flex-end; */
  width: 15%;
  margin-left: 2em;
}
.orders p {
  font-size: 1.4rem;
  width: 80%;
}

/* .tabs {
  width: 50%;
} */

@media screen and (max-width: 700px) {
 ul 
 {
  width:95%;
  margin-right:3%;
 }
  .tabs {
    width: 100% !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block !important; */
  }
  .contain {
    display: block !important;
    width: 100%;
  }
}


h2 {
    color: var(--e-global-color-secondary);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 7px
}

h3 {
    color: var(--e-global-color-primary);
    font-size: 2.5rem;
    max-width: 800px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px
}

h3::after {
    display: block;
    content: " ";
    width: 80px;
    height: 2.5px;
    background-color: var(--e-global-color-accent);
    margin: 10px 0
}

#team 
{
  margin-top:-100px;
}

.nav-tabs 
{
  background-color: #fff;
  color:var(--e-global-color-primary);;
}

.nav-tabs .nav-link
{
  font-weight: 500!important;
  font-size: 1.2rem!important;;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff!important;
  background-color: var(--e-global-color-primary);;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

ul 
{
  border-radius: 5px;;
}

form 
{
  background-color: #fff;
  padding:5px 0px;
}