<section class="page-section  mb-5 mt-5 " id="team">
    <div class="card mb-3 mb-5 " style="border:none; background-color:#F5F5F5;">
        <div class="row g-0 ms-5 mb-4" >

            <div class="card-body">
                <h5 class="card-title fw-bold text-success fs-1">Profile</h5>
                <p class="card-text  fs-4">Manage your details, view your tier status and change your password</p>
            </div>

            <form class=" mt-5 rounded-5" style="background-color:#ffffff; width:1200px;">
                <p class="card-text fw-bold ms-5 fs-2 mt-5">General Info</p>
                <div class="container ">

                    <div class="mb-3 ms-5 ">
                        <label for="exampleInputEmail1" class="form-label fw-bold ">First Name</label>
                        <input type="email" class="form-control w-75" id="exampleInputEmail1" la
                            aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3 ms-5">
                        <label for="exampleInputEmail1" class="form-label fw-bold">last Name</label>
                        <input type="email" class="form-control w-75" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>

                    <select class="form-select w-25 mt-4 ms-5 mb-4 " aria-label="Default select example"
                        style="height:50px ;">
                        <option selected>Preferred language</option>
                        <option value="1">English</option>
                        <option value="2">Arabic</option>
                    </select>
                </div>

                <div class="container mb-5 d-flex">
                    <button type="submit" class="btn btn-success ms-5 fw-bold">UPDATE INFO</button>
                </div>
            </form>

            <form class=" mt-5 rounded-5" style="background-color:#ffffff; width:1200px;">
                <p class="card-text fw-bold ms-5 fs-2 mt-5">Security</p>
                <div class="container ">
                    <div class="mb-3 ms-5">
                        <label for="exampleInputEmail1" class="form-label fw-bold ">Email address</label>
                        <input type="email" class="form-control w-75" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="mb-3 ms-5">
                        <label for="inputPassword5" class="form-label fw-bold ">Password</label>
                        <input type="password" id="inputPassword5" class="form-control w-75"
                            aria-describedby="passwordHelpBlock">
                        <div id="passwordHelpBlock" class="form-text">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not
                            contain spaces, special characters, or emoji.
                        </div>
                    </div>
                </div>

                <div class="container mb-5 d-flex">
                    <button type="submit" class="btn btn-success ms-5 fw-bold">CHANGE PASSWORD</button>
                </div>
            </form>

        </div>
    </div>
</section>