* {
  margin: 0;
  padding: 0;
}

.contain-Signup {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgba(153, 152, 152, 0.558); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* align-items: center; */
  border-radius: 20px;
}
.Signup {
  width: 50%;
  /* background-color: blueviolet; */
  padding: 65px;
}
.Signup h1 {
  color: #009368;
}
.photo {
  width: 50%;
  background-image: url("../../../assets/signgirl.jpg");
  /* background-color: #cccccc; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: rgb(0, 255, 89); */
  /* background-color: blueviolet; */
  border-radius: 20px;
}

.form-floating {
  margin-top: 25px;
}
form h6 {
  padding: 6px;
  color: #cb9712;
  font-size: small;
}
.btn-primary {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #009368;
  color: white;
  margin-top: 50px !important;
}
.btn-primary:hover {
  background-color: #009368;
}
.form-label {
  margin-top: 20px;
}
.paragraph {
  display: inline;
  color: rgb(149, 148, 148);
  font-size: small;
}
.login a {
  color: #cb9712;

  font-weight: bold;
  text-decoration: none;
}
.login {
  display: inline;
  font-size: small;
  margin-left: 8px;
}

#gender {
  margin-right: 50px;
}

@media screen and (max-width: 1000px) {
  .Signup {
    width: 100%;
    margin-top: 0;
  }
  .photo {
    display: none;
  }
}
