/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --e-global-color-primary: #213430;
  --e-global-color-secondary: #009368;
  --e-global-color-text: #6f7775;
  --e-global-color-accent: #eca30c;
  --e-global-color-c90c6a5: #ffffff;
  --e-global-color-ea36a55: #f5f5f5;
  --e-global-color-749a04a: #dddddd;
  --e-global-color-2acdf8f: #d58c13;
  --e-global-color-danger: #d52a13;
  --e-global-color-danger-hover: #b42310;

  --red: #C2341C;
  --dark-gray: #000000C2;
  --grey: #000000B3;
  --bit-darkgrey: #484848;
  --bit-darkergrey: #424242;
  --light-grey: #707070;
  --lighter-grey: #CACACA;
  --bit-lightgrey: #0000004D;
  --transparent-red: #C2341C4D;
  --transparent-grey: #00000029;
  --white: #FFF;
  --black: #000;
  --light-white: #FFFFFF59;
  --dark-red: #611A0E;
  --main-gray: #1C1C1C;
  --transparent-light-grey: rgba(112, 112, 112, .1);
  --transparent-section: #000000CF;
  --shadow: #00000029;
  --footerP: #FFFFFFB8;
  --transparentContact: rgba(112, 112, 112, .1)

}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngx-pagination li {
  color: #213430;
}

.ngx-pagination li.current {
  color: #fff;
  background-color: #009368 !important;
}

section.statistics .container > div {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  padding: 0px;
  z-index: 5;
  top: -50px;
}

section.statistics .container .statistics_item,
.statistics_clickable {
  padding: 50px 20px 20px 20px;
  background-color: var(--e-global-color-c90c6a5);
}
section.statistics .container .statistics_item h2 {
  color: var(--e-global-color-secondary);
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}

section.statistics .container .statistics_item h2::after {
  display: block;
  content: " ";
  width: 40px;
  height: 2.5px;
  background-color: var(--e-global-color-accent);
  margin: 5px auto;
}

section.statistics .container .statistics_item p {
  color: var(--e-global-color-primary);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

section.statistics .container .statistics_clickable {
  background-color: var(--e-global-color-secondary);
  color: var(--e-global-color-c90c6a5);
  border-radius: 0px 4px 4px 0px;
}

section.statistics .container .statistics_clickable h2 {
  font-size: 1.7rem;
}

section.statistics .container .statistics_clickable a {
  color: var(--e-global-color-c90c6a5);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  transition: all 0.5s linear;
}

section.statistics .container .statistics_clickable a:hover {
  color: var(--e-global-color-accent);
}

.breadcrumb li {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.breadcrumb a {
  color: var(--e-global-color-accent);
  text-decoration: none;
  transition: all 0.3s linear;
}

.breadcrumb a:hover {
  color: var(--e-global-color-2acdf8f);
}

.page-section.ourevents {
  margin-bottom: 50px;
}
.page-section.ourevents .card-body {
  background-color: var(--e-global-color-c90c6a5);
  border-radius: 10px;
  box-shadow: 0px 0px 50px #fdfbfb62, 0px 0px 50px #f0f0f0d2;
  padding: 60px 40px;
  position: relative;
  top: 80px;
  left: 25px;
  z-index: 5;
}

.page-section.ourevents .card-body .details h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--e-global-color-secondary);
}

.page-section.ourevents .card-body .details p {
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 650px;
  color: var(--e-global-color-primary);
}

.page-section.ourevents .card-body .details p::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--e-global-color-accent);
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.person {
  display: flex;
  justify-content: start;
  gap: 10px;
}

div.image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

div.image img {
  max-width: 100%;
  border-radius: 50%;
}

div.user-detail p.name {
  color: var(--e-global-color-primary);
  font-size: 1.1rem;
  margin: 5px 0px;
  font-weight: 600;
}

div.user-detail p.designation {
  color: var(--e-global-color-secondary);
  font-size: 0.7rem;
  font-weight: 500;

  margin: 0px;
}

.page-section.ourevents .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: -3rem !important;
  margin-left: 15%;
  list-style: none;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: var(--e-global-color-accent);
}

.right_iamge {
  position: relative;
}

.right_iamge img {
  width: 600px;
  height: 500px;
}
.heart {
  position: absolute;
  right: -10px;
  top: 0;
  z-index: 1;
  width: 120px !important;
  height: 120px;
}

ul {
  list-style: none;
}

.copy-right {
  background: var(--e-global-color-secondary);
  padding: 20px 0px;
  color: var(--e-global-color-c90c6a5);
  font-size: 1.1rem;
  width: 100%;
}

.copy-right .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.copy-right .container div:last-of-type {
  text-align: right;
}



.main-icons > div > div p {
  margin-top: -2px;
}

mat-icon {
  position: relative;
  top: 5px;
}

.team .img {
  position: relative;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background: transparent;
  margin-top: 0;
}

     /* width */
                        
     ::-webkit-scrollbar {
      width: 10px;
  }
  /* Track */
  
   ::-webkit-scrollbar-track {
      border-radius: 0px;
      background:#deeee9
  }
  /* Handle */
  
   ::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, var(--e-global-color-secondary), var(--e-global-color-primary));
      /*  background: linear-gradient(180deg, var(--bit-darkgrey), var(--bit-darkergrey));*/
      border-radius: 1px;
  }
  
  html {
      scroll-behavior: smooth;
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: var(--e-global-color-ea36a55);
    color: var(--e-global-color-primary);
    transition: all .6s linear;
    z-index: 333;
    box-shadow: .5px .5px 10px var(--e-global-color-749a04a);
    transition: all .5s linear;
}

#btn-back-to-top:hover {
    background: var(--e-global-color-primary);
    color: var(--e-global-color-ea36a55);
}

.ourevents h3.testmonial 
{
  max-width:600px!important;
  color:var(--e-global-color-primary)
}



                        
.spinner-container {
  position: absolute;
  left: 50%;
  
top: 50%;
  transform: translate(-50%, -50%);
}

.spinner-container .spinner {
  font-size: 2em
}

.spinner-container .spinner__leter {
  font-weight: light;
  position: relative;
  color: var(--e-global-color-primary);
  text-transform: uppercase
}

.spinner-container .spinner__leter:before {
  content: attr(letter);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--e-global-color-primary);
  animation: load-animation 2.8s infinite;
  animation-fill-mode: backwards;
  text-transform: uppercase
}

.spinner-container .spinner__leter:nth-child(2):before {
  animation-delay: .4s
}

.spinner-container .spinner__leter:nth-child(3):before {
  animation-delay: .8s
}

.spinner-container .spinner__leter:nth-child(4):before {
  animation-delay: 1.2s
}

.spinner-container .spinner__leter:nth-child(5):before {
  animation-delay: 1.6s
}

.spinner-container .spinner__leter:nth-child(6):before {
  animation-delay: 2s
}

.spinner-container .spinner__leter:nth-child(7):before {
  animation-delay: 2.4s
}

.spinner-container .spinner__leter:nth-child(8):before {
  animation-delay: 2.8s
}

.spinner-container .spinner__leter:nth-child(9):before {
  animation-delay: 3.2s
}

.spinner-container .spinner__leter:nth-child(10):before {
  animation-delay: 3.6s
}

@keyframes load-animation {
  0%,
  80%,
  to {
      transform: rotateY(-90deg);
      opacity: 0
  }
  5% {
      opacity: .5
  }
  20%,
  50% {
      transform: rotateY(0);
      opacity: 1
  }
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster+Two&family=Poppins:wght@400;500&family=Raleway:wght@700&display=swap');
/* common */

.loader {
  background: var(--white);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}

.loading {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10000;
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  background: var(--white);
  padding-top: 360px;
}

.loading span {
  display: inline-block;
  color:var(--e-global-color-primary)
}
/* code #1 */

.loader::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 100000;
  height: 60px;
  transform: rotate( 127deg);
  top: 57px;
  left: -113px;
  background: linear-gradient(120deg, var(--e-global-color-secondary), var(--e-global-color-primary));
  height: 234px;
  width: 450px;
  transform: rotate( 127deg);
  top: -8px;
  left: -190px;
  animation-delay: 2.5s;
  animation: loadbefore 2.5s alternate;
}

.loader::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 100000;
  height: 320px;
  transform: rotate( 127deg);
  top: 89%;
  right: -287px;
  width: 790px;
  animation-delay: 2.5s;
  background: linear-gradient(120deg, var(--e-global-color-secondary), var(--e-global-color-primary));
  animation: loadafter 2.5s alternate;
}

.loading01 span:nth-child(1) {
  animation-delay: 0.2s;
  opacity: 0;
}

.loading01 span:nth-child(2) {
  animation-delay: 0.4s;
  opacity: 0;
}

.loading01 span:nth-child(3) {
  animation-delay: 0.6s;
  opacity: 0;
}

.loading01 span:nth-child(4) {
  animation-delay: 0.8s;
  opacity: 0;
}

.loading01 span:nth-child(5) {
  animation-delay: 1s;
  opacity: 0;
}

.loading01 span:nth-child(6) {
  animation-delay: 1.2s;
  opacity: 0;
}

.loading01 span:nth-child(7) {
  animation-delay: 1.4s;
  opacity: 0;
}

.loading01 span:nth-child(8) {
  animation-delay: 1.6s;
  opacity: 0;
}

.loading01 span:nth-child(9) {
  animation-delay: 1.8s;
  opacity: 0;
}

.loading01 span:nth-child(10) {
  animation-delay: 2s;
  opacity: 0;
}

.loading01 span:nth-child(11) {
  animation-delay: 2.2s;
  opacity: 0;
}

.loading01 span {
  animation-delay: 3s;
  animation: loading01 2.4s infinite alternate;
}


@keyframes loading01 {
  0% {
      opacity: 0;
      color:var(--e-global-color-accent)

  }
  100% {
      opacity: 1;
      color:var(--e-global-color-primary)

  }
}

@keyframes loadbefore {
  0% {
      width: 0px;
      opacity: 0;
      height: 0px;
  }
  100% {
      width: 450px;
      height: 234px;
      opacity: 1;
  }
}

@keyframes loadafter {
  0% {
      width: 0px;
      opacity: 0;
      height: 0px;
  }
  100% {
      width: 790px;
      height: 320px;
      opacity: 1;
  }
}

.loader img {
  margin-top: 100px;
  width: 250px;
  height: 250px;
  margin: 60px auto 200px;
  position: absolute;
  z-index: 10000000;
  left: 40%;
  top: 60px;
}

::selection 
{
  background-color: var(--e-global-color-primary);
  color:var(--e-global-color-c90c6a5)
}

@media (max-width: 767px) {
  header h2 {
    font-size: 2.5rem !important;
  }
  .main-about .img::before {
    top: -100px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-repeat: none;
  }
  

  .sponsors .carousel-inner
  {
     flex-direction: column;
     gap:15px;
     justify-content: center;
     align-items: center;
  }
  .teams h2 
  {
    font-size:1.5rem!important;
  }



  .main-about .img::after {
    bottom: -40px;
    left: 0px;
  }

  .main-about .card-body {
    margin-left: 0px!important;
  }
  .main-icons > div {
    flex-direction: column;
  }
  section.statistics {
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
  }

  section.statistics .container .statistics_item {
    border-radius: 4px 4px 0px 0px;
  }

  section.statistics .container .statistics_clickable {
    border-radius: 0px 0px 4px 4px;
  }

  .team .images {
    bottom: -20px;
  }
  section.aboutus .content .aboutus__images .image_2 {
    left: 40%;
    top: 40%;
  }
  section.aboutus .content .aboutus__images .image_0 {
    display: none;
  }
  .page-section.ourevents .card-body {
    left: 0px;
    z-index: 5;
  }

  .copy-right .container {
    display:grid;
    grid-template-columns: 1fr;
    text-align: center !important;
  }
  .copy-right .container div:last-of-type {
    text-align: center;
    padding-top: 10px;
  }

  .right_iamge img {
    height: 400px;
  }
  .loading {
    z-index: 10000;
    font-size: 25px;
}
.loader img {
    margin-top: 100px;
    width: 190px;
    height: 150px;
    margin: 100px auto 200px;
    left: 20%;
    top: 100px;
}
.loader::before {
    left: -290px;
}
.loader::after {
    right: -387px;
}
}

@media (max-width: 576px) {
  .loading {
      z-index: 10000;
      font-size: 30px;
  }
  .loader img {
      margin-top: 100px;
      width: 180px;
      height: 150px;
      margin: 100px auto 200px;
      left: 24%;
      top: 100px;
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  .main-about .img::before {
    top: -120px;
    left: -80px;
    width: 380px;
    height: 350px;
    background-repeat: none;
  }

  .main-about .img::after {
    bottom: -40px;
    left: 0px;
  }

  .main-about .card-body {
    margin-left: 0px;
  }

  .team .images {
    bottom: -50px;
  }
  .loading {
    z-index: 10000;
    font-size: 54px;
}
.loader img {
    margin-top: 100px;
    width: 250px;
    height: 150px;
    margin: 100px auto 200px;
    left: 32%;
    top: 100px;
}
}

@media (min-width: 993px) and (max-width: 1200px) {
  .main-about .img::before {
    top: -120px;
    left: -80px;
    width: 380px;
    height: 350px;
    background-repeat: none;
  }

  .main-about .img::after {
    bottom: -40px;
    left: 0px;
  }

  .main-about .card-body {
    margin-left: 0px;
  }

  .card-body h3 {
    max-width: 800px !important;
  }
  .team .images {
    bottom: -50px;
  }
  section.aboutus .content .aboutus__images .image_2 {
    left: 40%;
    top: 40%;
  }
  section.aboutus .content .aboutus__images .image_0 {
    left: 35%;
    top: 30%;
    border: 4px solid #eee;
  }
}



.ourevents p {
  padding:10px 0px;
}

.form-control.ng-valid:focus {
  color: #212529;
  background-color: #fff;
  border-color: #b5e4aa!important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #00936771 !important;
}

ul 
{
  padding:0
}