/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --e-global-color-primary: #213430;
  --e-global-color-secondary: #009368;
  --e-global-color-text: #6f7775;
  --e-global-color-accent: #eca30c;
  --e-global-color-c90c6a5: #ffffff;
  --e-global-color-ea36a55: #f5f5f5;
  --e-global-color-749a04a: #dddddd;
  --e-global-color-2acdf8f: #d58c13;
  --e-global-color-danger: #d52a13;
  --e-global-color-danger-hover: #b42310;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
