<app-navbar></app-navbar>
<header>
  <div class="container position-relative header-text">
    <div class="row ">
      <div class="container ms-lg-5 ">
        <div class="row text-light fw-bold">
          <!-- <h1>{{title}}</h1> -->
        </div>
        <!-- <div class="row line"></div> -->
        <div class="d-flex flex-row">
          <!-- <p class="text-warning p-2">Home</p> -->
          <!-- <p class="text-warning  p-2">>></p> -->
          <!-- <p class="text-light p-2 fw-semibold fs-6">{{title}}</p> -->
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <h1>Thanks for your Donation</h1>
  <p>We will contact you soon</p>
</div>
<app-footer></app-footer>